APP_ENV=development
HTTP_PORT=8080
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=app
DB_SSLMODE=disable

CLOTHING_SERVICE_URL=http://localhost:8080

MINIO_ENDPOINT=localhost:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET=clothes-images
MINIO_USE_SSL=false
MINIO_PUBLIC_URL=http://localhost:9000

JWT_SECRET=super-secret-dev-key
JWT_ISSUER=auth-service